#add for board init.rc for recovery mode
import /init.recovery.common.rc

on property:ro.twrp.boot=1
	write /sys/devices/platform/extcon-gpio/extcon_hostenable enabled
	
on post-fs
	insmod /vendor/lib/modules/sc27xx-vibra.ko
	insmod /vendor/firmware/adaptive-ts.ko

service fastbootd /system/bin/fastbootd
    disabled
    group system
    seclabel u:r:fastbootd:s0

on property:sys.usb.config=fastboot
    start fastbootd

service vendor.vibrator-default /vendor/bin/hw/vendor.sprd.hardware.vibrator-service
    class hal
    user root
    group root system
    seclabel u:r:recovery:s0

on boot
    start vendor.vibrator-default
